body{

margin:0;
background:url("images/IMG_0900.PNG") center/cover no-repeat;
font-family:Arial;
text-align:center;
color:white;
overflow-x:hidden;

}

/* TITLE */

h1{

margin-top:150px;
font-size:70px;

}

/* ROPE */

.rope{

position:absolute;
top:300px;
width:100%;
height:18px;

background:url("images/12Z_2103.w011.n001.500A.p15.500.jpg") repeat-x;
background-size:auto 18px;

z-index:2;

}

/* GALLERY */

.gallery{

display:flex;
gap:90px;

overflow-x:auto;

padding:180px 80px;

scroll-behavior:smooth;

position:relative;
z-index:3;

}

/* PHOTO */

.photo{

position:relative;
transition:transform .4s ease;

}

/* ROPE SAG EFFECT */

.photo:nth-child(3n){

margin-top:10px;

}

.photo:nth-child(4n){

margin-top:18px;

}

.photo:nth-child(5n){

margin-top:6px;

}

/* POLAROID */

.polaroid{

width:240px;
height:320px;

background:black;

border-top:12px solid white;
border-left:12px solid white;
border-right:12px solid white;
border-bottom:40px solid white;

box-shadow:0 20px 40px rgba(0,0,0,.6);

transition:transform .35s ease;

}

/* PIN */

.pin{

position:absolute;

top:-12px;
left:50%;

transform:translateX(-50%);

width:28px;

z-index:4;

transition:transform .35s ease;

}

/* RANDOM ROTATION */

.photo:nth-child(odd){

transform:rotate(-3deg);

}

.photo:nth-child(even){

transform:rotate(3deg);

}

/* CLICK EFFECT */

.photo.active{

transform:rotate(0deg) scale(1.2);
z-index:10;

}

.photo.active .polaroid{

transform:translateY(20px) scale(1.05);

}

.photo.active .pin{

transform:translateX(-50%) translateY(-12px) rotate(-10deg);

}
